body {
  text-align: center;
  font-family: "museo-sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  padding-top: 40px;
}

h1, h2 {
  font-family: "ff-enzo-web", sans-serif;
  font-style: normal;
  font-weight: 300;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 2em;
}

p {
}

#header {
}

#youtube {
}
